/* Container to align sections */

/* Header */

.header {
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Light/Dark Toggle */

.toggle {
  top: 26px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.toggle__switch {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 20px;
  vertical-align: middle;
  padding: 4px;
}

.toggle__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle__label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  background-color: var(--purple-600);
  border-radius: 10px;
  width: 32px;
  height: 20px;
  transition: background 0.2s;
}

.toggle__label::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 4px;
  width: 12px;
  height: 12px;
  background: var(--white, #fff);
  border-radius: 10px;
  transition: transform 0.2s;
}

.toggle__checkbox:checked + .toggle__label::after {
  transform: translateX(12px);
}

/* Subject icons */

.subject__icon {
  border-radius: 6px;
  padding: 6px;
}

.subject__icon--html {
  background-color: var(--orange-50);
}

.subject__icon--css {
  background-color: var(--green-100);
}

.subject__icon--js {
  background-color: var(--blue-50);
}

.subject__icon--accessibility {
  background-color: var(--purple-100);
}

@media (min-width: 768px) {
  .toggle {
    gap: 16px;
    top: 54px;
  }

  .header {
    height: 129px;
  }

  .toggle__icon {
    width: 24px;
    height: auto;
  }

  /* Toggle switch */
  .toggle__switch {
    width: 48px;
    height: 28px;
  }

  .toggle__label {
    width: 48px;
    height: 28px;
    border-radius: 20px;
  }

  .toggle__label::after {
    width: 20px;
    height: 20px;
    border-radius: 20px;
  }

  .toggle__checkbox:checked + .toggle__label::after {
    transform: translateX(20px);
  }

  .text-preset-2-mobile-light,
  .text-preset-2-mobile-medium {
    font-size: 64px;
  }

  .main__subtitle {
    font-size: 20px;
  }

  .quiz {
    gap: 24px;
  }

  .subject {
    gap: 32px;
    font-size: 28px;
    height: 88px;
  }

  .subject__icon {
    width: 56px;
    height: auto;
  }
}

@media (min-width: 1440px) {
  .header {
    height: 224px;
  }

  .toggle {
    top: 97px;
  }

  .main__intro {
    gap: 48px;
    height: fit-content;
  }

  .subject {
    padding: 24px;
    height: 104px;
  }
}
